<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - First Choice Pharmacy</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    @* This is for the mapbox map. *@
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
    @*This is used for the Geocoding Mapbox API*@
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.min.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.2.0/mapbox-gl-geocoder.css' type='text/css' />
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/backtotop.js"></script>
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/chat.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        /*source code: https://www.w3schools.com/HOWTO/howto_js_scroll_to_top.asp */
        #topBtn {
            position: fixed;
            bottom: 20px;
            left: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: lightgray;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
            opacity: 0.8;
        }

            #topBtn:hover {
                background-color: #555;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #2E7D32">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <div><img src="@Url.Content("~/Images/Layout/logo.png")" height="30" width="30" alt="FirstChoiceLogo" /></div>
                    <div style="color:white">First Choice Pharmacy</div>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Pharmacist"))
                    {
                        <li>@Html.ActionLink("Send Notifications", "SendAds", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    <li>@Html.ActionLink("Stores", "Index", "Stores")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("My Booking", "Index", "Bookings")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <a id="top"></a>
    <a href="#top" id="topBtn">&uarr;</a>
    <div class="container body-content">
        @RenderBody()
        <!--Source: https://github.com/indently/mscbot-->
        <!-- CHAT BAR BLOCK -->
        <div class="chat-bar-collapsible">
            <button id="chat-button" type="button" class="collapsible">
                Chat with us!
                <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
            </button>

            <div class="content">
                <div class="full-chat-block">
                    <!-- Message Container -->
                    <div class="outer-container">
                        <div class="chat-container">
                            <!-- Messages -->
                            <div id="chatbox">
                                <h5 id="chat-timestamp"></h5>
                                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                            </div>

                            <!-- User input box -->
                            <div class="chat-bar-input-block">
                                <div id="userInput">
                                    <input id="textInput" class="input-box" type="text" name="msg"
                                           placeholder="Tap 'Enter' to send a message">
                                    <p></p>
                                </div>

                                <div class="chat-bar-icons">
                                    <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                       onclick="heartButton()"></i>
                                    <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                       onclick="sendButton()"></i>
                                </div>
                            </div>

                            <div id="chat-bar-bottom">
                                <p></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <hr />
        <footer style="text-align: center">
            <p>&copy; @DateTime.Now.Year - First Choice Pharmacy</p>
            <p>Developed by Yuliang Lei at Monash University</p>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/Scripts/chat.js"></script>
    <script src="~/Scripts/responses.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
